html {
    height: 100%;
}

body {
    padding: 0; 
    margin: 0;
    width: 100%;
    height: 100%;
    background: #7FC2C7;
    /*overflow: hidden;*/
}

.text {
    display: none;
}

.endscreen {
    width: 100%;
    display: none;
    top: -150px;
    position: relative;
}

.prompt {
    top: 180px;
    margin: auto;
    width: 50%;
    z-index: 100;
    position: relative;
    color: black;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.option {
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: auto;
    width: 50%;
    z-index: 100;
    position: absolute;
    top: 675px;
}

.left-option {
    left: 0px;
}

.right-option {
    right: 0px;
}

.bubble {
    padding: 10px 10px 10px 10px;
    display: inline;
    background-color: white;
    border-radius: 10px;
}

.selected {
    border: 8px solid rgb(255, 127, 80);
    padding: 10px 10px 10px 10px;
    display: inline;
    border-radius: 10px;
}

#screen {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#map {
    position: absolute;
    bottom: 0;
    /* width of map is 10380 */
    left: -4325px;
    /* background-image: linear-gradient(red, yellow); */
}

#start {
    position: absolute;
    left: 720px;
    max-width:100%;
    height:auto;
    bottom: 360px;
}

.column {
    float: left;
    width: 50%;
  }
